<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %>-Digital News Pay Hub</title>


    <% if(post){ %>
    <meta name="keywords" content="<%= post.tags %>">
    <meta property="og:title" content="<%= post.title %>">
    <meta property="og:type" content="article">
    <meta property="og:description" content="<%= post.title %>">
    <meta name="description"
        content=" The purpose of this blog post or aticle is to uliminate on the trending topic:<%= post.title %> ">
    <meta property="og:image" content="<%= post.image_url %>">
    <meta property="og:url" content="https://www.dnpayhub.com/blog/<%= post.slug %>">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="canonical" href="https://www.dnpayhub.com/blog/<%= post.slug %>">
    <% }else{ %>
    <meta property="og:title" content="Digital News Pay Hub">
    <meta property="og:description" content="Where you acquire latest info and get paid for it.">
    <meta property="og:image"
        content="https://res.cloudinary.com/dfm1c1iri/image/upload/v1592379289/Digitalnewpay_logo-02_z2q6cr.png">
    <meta property="og:url" content="https://www.dnpayhub.com">
    <meta name="twitter:card" content="summary_large_image">

    <% } %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <link href="../images/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>



    <link rel="stylesheet" href="../css/style-new.css">

</head>

<body>