<section class="news">
    <% for(const post of posts){ %>
    <div class="latest-newz">
        <div class="image-wrapper">
            <img src="<%= post.image_url %>" alt="" class="image">
        </div>
        <div class="write-up">
            <h3><%= post.category %></h3>
            <h2><%= post.title %></h2>
            <!-- <em>Post on the<%= post.day %> by <%= post.time %></em> -->
            <article>
                <%= post.description.substr(0,120) %>...
                <a href="/blogs/<%= post.slug %>" class="block right-text">Read more</a>
            </article>

        </div>

    </div>

    <% } %>


</section>