<%- include('./partials/head.ejs') %>

<main id="dashboard-main">
    <%- include('./partials/admin-nav.ejs') %>

    <section>
        <header class="container">
            <div class="toggle-nav2">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div id="temp1">
                <form action="/admins/logout?_method=DELETE" method="POST">
                    <button type="submit" id="logout" class="block">Log Out</button>
                </form>
            </div>
        </header>
        <div>

            <section class="admin-posts-dashboard container">
                <aside></aside>
                <section class="middle-content">
                    <form action="/admins/add_post" method="post" enctype="multipart/form-data">
                        <div>
                            <div>
                                <input type="text" placeholder="Add post Title Here" id="new-post-title" class="block"
                                    name="title">
                            </div>
                            <div>
                                <input type="text" placeholder="Add post description here" id="new-post-description"
                                    class="block" name="description">
                            </div>
                            <div>
                                <input list="categories" name="category" id="category" placeholder="Category">

                                <datalist id="categories">
                                    <% categories.forEach(cate=>{ %>
                                    <option value="<%= cate.name %>">
                                        <% })%>
                                </datalist>
                            </div>

                            <input type="text" name="image_url" class="block"
                                placeholder="Add the Post image path here or upload with the button below">

                            <div>
                                <i class="fa fa-picture-o"></i> <input type="file" name="photo"
                                    style="display: inline;">
                            </div>

                            <div>
                                <textarea name="body" id="editor" name="editor"></textarea>
                            </div>
                            <div id="save-and-preview">
                                <button id="save-post" type="submit">Save</button>
                                <button id="preview-post">preview</button>
                            </div>


                        </div>

                    </form>


                </section>
                <aside>
                    <section class="categories-and-new">
                        <h3>Available categories</h3>
                        <ul>
                            <% categories.forEach(cate=>{ %>
                            <li><%= cate.name %></li>
                            <% }) %>
                        </ul>
                        <form action="/admins/add-new-category" method="POST">
                            <input type="text" name="name" id="name" placeholder="Add a new Category"> <button
                                type="submit">Add category</button>
                        </form>
                        <ul>

                        </ul>
                    </section>
                </aside>
            </section>

        </div>
    </section>

</main>
<!-- <script src="https://cdn.ckeditor.com/ckeditor5/19.1.1/classic/ckeditor.js"></script> -->
<script src="https://cdn.ckeditor.com/4.14.1/full/ckeditor.js"></script>
<script src="../js/editor.js"></script>
<script src="../js/admin-nav.js"></script>
<script src="../js/add-new-category.js"></script>

<%- include('./partials/footer.ejs') %>