<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>
<main>
    <section>
        <div class="breaking-news-and-more">
            <div id="adverts">
                This is it
            </div>
            <div id="breaking-news">

            </div>
            <div id="search">

            </div>
        </div>
    </section>
    <section class="the-search-and-more">
        <div>
            <div class="the-adverts">
                <img src="../images/adverts-right1.png" alt="">
                <span>advertisements</span>
                <img src="../images/adverts-left1.png" alt="">
            </div>
            <div class="search">
                <button>
                    search
                </button>

            </div>
        </div>


    </section>


    <section class="content">
        <div class="container main-section">
            <div class="blog-content">
                <section class="most-liked">
                    <div class="image-wrapper">
                        <img src="<%= post.image_url %>" alt="" class="image">
                    </div>
                    <div class="write-up">
                        <h4><%= post.category %></h4>
                        <h3><%= post.title %></h3>
                        <em>Post on the<%= post.day %> by <%= post.time %></em>
                        <article>
                            <%- post.markedBody.substr(0,200) %>...
                            <a href="/news/<%= post.id %>">Read more</a>
                        </article>

                    </div>

                </section>
                <section class="liked-in-categories">
                    <div class="conainer">
                        <% for(const post of posts){ %>
                        <div class="story">
                            <div class="image-wrapper">
                                <img src="<%= post.image_url %>" alt="" class="image">
                            </div>
                            <div class="write-up">
                                <h3><%= post.category %></h3>
                                <h2><%= post.title %></h2>
                                <em>Post on the<%= post.day %> by <%= post.time %></em>
                                <article>
                                    <%- post.markedBody.substr(0,50) %>...
                                    <a href="/news/<%= post.id %>">Read more</a>
                                </article>

                            </div>

                        </div>

                        <% } %>

                    </div>

                </section>
                <section class="forms-section">
                    <div class="container">
                        <div>
                            <a href="/">login</a>
                        </div>

                        <div>
                            <a href="/">register</a>
                        </div>

                    </div>

                </section>

            </div>
            <aside class="aside-home">
                <h3>Latest News</h3>


                <section class="news">
                    <% for(const post of posts){ %>
                    <div class="latest-newz">
                        <div class="image-wrapper">
                            <img src="<%= post.image_url %>" alt="" class="image">
                        </div>
                        <div class="write-up">
                            <h3><%= post.category %></h3>
                            <h2><%= post.title %></h2>
                            <em>Post on the<%= post.day %> by <%= post.time %></em>
                            <article>
                                <%- post.markedBody.substr(0,50) %>...
                                <a href="/news/<%= post.id %>">Read more</a>
                            </article>

                        </div>

                    </div>

                    <% } %>


                </section>
                <section class="desktop-advert">
                    <div class="adverts-content">
                        <div>A</div>
                        <div>D</div>
                        <div>V</div>
                        <div>E</div>
                        <div>R</div>
                        <div>T</div>
                        <div>S</div>

                    </div>

                </section>
            </aside>

        </div>


    </section>
</main>

<%- include('./partials/footer.ejs') %>