<%- include('./partials/head-new.ejs') %>
<%- include('./partials/header-new.ejs') %>

<main>
    <div class="dnpay">
        <h4>Welcome to</h4>
        <h2>Digital News Hub</h2>
    </div>
    <section class="overlay">
        <div class="layer layer-1"></div>
        <div class="layer layer-2"></div>
        <div class="layer layer-3"></div>
    </section>

    <section class="logo-and-caption">
        <div>
            <h1>Digital News Pay Hub</h1>
            <h3 class="sub-caption" style="display: none;;"> Make cash while you get informed</h3>
        </div>
    </section>
    <section class="breaking-news">
        <div class="marquee-element">

            <% posts.forEach((post,index)=>{ %>
            <a class="marquee-item-<%=(index+1) %> marquee-item" href="/blog/<%= post.slug %>">
                <img src="<%= post.image_url %>" alt="breaking news-<%=(index+1) %>">
                <div>

                    <h3><%= post.title %></h3>

                </div>
            </a>


            <% }) %>
            <% posts.forEach((post,index)=>{ %>
            <a class="marquee-item-<%=(index+1) %> marquee-item" href="/blog/<%= post.slug %>">
                <img src="<%= post.image_url %>" alt="breaking news-<%=(index+1) %>">
                <div>

                    <h3><%= post.title %></h3>

                </div>
            </a>


            <% }) %>

        </div>
    </section>
    <section class="sliding-news">
        <% for (let post of posts){ %>
        <div>
            <div class="image-wrapper">
                <img src="<%= post.image_url %>" alt="image for <%= post.title %>">
            </div>
            <h3 class="story-title"><%= post.title %></h3>
        </div>

        <% } %>
    </section>
    <div class="index">
        <section>
            <section>
                <% for(post of posts){ %>
                <div class="latest-post">
                    <header class="header center-text">
                        <h3 class="category"><%= post.category %></h3>
                        <a href="blog/<%= post.slug %>">
                            <h2 class="title"><%= post.title %></h2>
                        </a>
                    </header>
                    <div class="date-and-views">
                        <em class="date"><%= post.date.toDateString() %></em>
                        <span class="views"><%= post.number_of_views %> views</span>
                    </div>
                    <div class="image-wrapper">
                        <a href="blog/<%= post.slug %>"><img src="<%= post.image_url %>" alt=""></a>
                    </div>
                    <article class="description">
                        <%= post.description %>...
                    </article>
                    <div class="center-text">
                        <a href="blog/<%= post.slug %>" class="continue-reading center-text block">continue reading</a>
                    </div>
                    <div class="comments-and-share">

                        <span><%= post.comments.length %> Comments</span>
                        <span>share</span>
                    </div>
                </div>


                <% } %>


            </section>
        </section>
        <aside>
            <section class="subscribe">
                <div>
                    <h2 class="center-text">
                        subscribe
                    </h2>
                    <p>Get all latest news and content delivered straight to your inbox</p>

                    <form action="">
                        <input type="text" name="name" placeholder="Name">
                        <input type="email" name="email" id="" placeholder="Email Address">
                        <button type="submit">subscribe</button>

                    </form>

                </div>


            </section>
            <section class="popular-posts">
                <div>
                    <h2>Popular posts</h2>
                    <% for(post of posts){ %>
                    <div class="post">
                        <div class="image-wrapper">
                            <a href="/blog/<%= post.slug %>"><img src="<%= post.image_url %>" alt=""></a>

                        </div>
                        <div class="about-popular">
                            <a href="/blog/<%= post.slug %>">
                                <h4 class="category"><%= post.category %></h4>
                                <h3 class="title"><%= post.title %></h3>

                            </a>
                            <div class="date-and-views">
                                <em class="date"><%= post.date.toDateString() %></em>
                                <span class="views"><%= post.number_of_views %> views</span>
                            </div>

                        </div>
                    </div>
                    <% } %>
                </div>


            </section>
            <section class="categories">
                <div>
                    <h2>Categories</h2>
                </div>
                <ul>
                    <% categories.forEach(category=>{ %>
                    <li class="category">
                        <span><%= category.name %></span>
                        <span><%= category.number_of_posts %></span>
                    </li>

                    <% }) %>
                </ul>

            </section>
        </aside>
    </div>

</main>
<%- include('./partials/footer-new.ejs') %>