<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>
<main>
    <section>
        <div class="breaking-news-and-more">

        </div>
    </section>
    <section class="the-search-and-more">
        <div>
            <div class="the-adverts">
                <img src="../images/adverts-right1.png" alt="">
                <span>advertisements</span>
                <img src="../images/adverts-left1.png" alt="">
            </div>
            <section class="breaking-news">
                <a class="marquee-element" href="/blogs/<%= post.slug %>">

                    <% posts.forEach((post,index)=>{ %>
                    <div class="marquee-item-<%=(index+1) %> marquee-item">
                        <img src="<%= post.image_url %>" alt="breaking news-<%=(index+1) %>">
                        <div>

                            <h3><%= post.title %></h3>

                        </div>
                    </div>


                    <% }) %>
                    <% posts.forEach((post,index)=>{ %>
                    <div class="marquee-item-<%=(index+1) %> marquee-item">
                        <img src="<%= post.image_url %>" alt="breaking news-<%=(index+1) %>">
                        <div>

                            <h3><%= post.title %></h3>

                        </div>
                    </div>


                    <% }) %>

                </a>

            </section>
            <div class="search">
                <button>
                    search
                </button>

            </div>
        </div>


    </section>


    <section class="content">
        <div class="container main-section">
            <div class="blog-content">
                <section class="most-liked">
                    <div class="image-wrapper">
                        <img src="<%= post.image_url %>" alt="" class="image">
                    </div>
                    <div class="write-up">
                        <h4><%= post.category %></h4>
                        <h3><%= post.title %></h3>
                        <em>Posted on <%= post.date.toDateString() %>
                            <!-- by <%= post.time %>--></em>
                        <div class="more-details">
                            <div>
                                <img src="../images/views1.png" alt="">
                                <span><%= post.number_of_views %></span>
                            </div>
                            <div>
                                <img src="../images/comments1.png" alt="">
                                <span><%= post.comments.length %></span>
                            </div>
                        </div>
                        <article>
                            <%- post.markedBody.substr(0,200) %>...
                            <a href="/blogs/<%= post.slug %>">Read more</a>
                        </article>

                    </div>

                </section>
                <section class="liked-in-categories">
                    <div class="conainer">

                        <div class="post-card">
                            <% for(const post of posts){ %>

                            <div class="story">
                                <div class="image-wrapper">
                                    <img src="<%= post.image_url %>" alt="" class="image">
                                </div>
                                <div class="write-up">
                                    <h3><a href="/index/<%= post.category.toLowerCase() %>"><%= post.category %></a>
                                    </h3>
                                    <h2><%= post.title %></h2>
                                    <em><%= post.date.toDateString() %></em>

                                    <article>
                                        <%- post.markedBody.substr(0,200) %>...
                                        <a href="/blogs/<%= post.slug %>" class="block right-text read-more">Read
                                            more</a>
                                    </article>

                                </div>

                            </div>



                            <% } %>
                        </div>

                    </div>

                </section>
                <section class="forms-section">
                    <div class="container">
                        <div>
                            <a href="/login">login</a>
                        </div>

                        <div>
                            <a href="/">register</a>
                        </div>

                    </div>

                </section>

            </div>
            <aside class="aside-home">
                <h3>Latest News</h3>

                <%- include('./partials/latest-news.ejs') %>


            </aside>

        </div>


    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.4/gsap.min.js"></script>
    <script src="../js/navs.js"></script>
    <script src="../js/breaking-news.js"></script>


    <%- include('./partials/footer.ejs') %>