<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>

<main>
    <section>
        <div class="breaking-news-and-more">

            <div id="breaking-news">

            </div>
            <div id="search">

            </div>
        </div>
    </section>
    <section class="the-search-and-more">
        <div>
            <div class="the-adverts">
                <img src="../images/adverts-right1.png" alt="">
                <span>advertisements</span>
                <img src="../images/adverts-left1.png" alt="">
            </div>
            <div class="search">
                <button>
                    search
                </button>

            </div>
        </div>


    </section>


    <section class="content">
        <div class="container main-section">
            <section class="container login-section">
                <div>
                    <h2 class="center-text">Login</h2>

                    <form action="/" method="POST">
                        <div class="form-group">
                            <div>
                                <img src="../images/profile_user1.png" alt="">

                            </div>
                            <div>
                                <label for="user-name" class="block">username / email</label>
                                <input type="text" name="user-name" class="block">
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                <img src="../images/profile_password1.png" alt="">

                            </div>
                            <div>
                                <label for="password" class="block">password</label>
                                <input type="password" name="password" class="block">
                            </div>
                        </div>

                        <button type="submit" class="button">login</button>

                    </form>
                    <div>
                        <p>
                        <div class="center-text">Forgot Password?</div>
                        <div class="center-text">Don't have an account <a href="/" class="red"> sign up</a></div>

                        </p>
                        <p>
                            We are glad to have you back today.Kindly login with your registered username and password
                            and start enjoying the opportunity today.Wishing you splendid stay ahead!
                        </p>
                        <p>WhatsApp: <a href="https://wa.me/234598658605">+234 598658605</a></p>
                        <p>
                        <div class="red">WhatsApp Us</div>
                        <div>We will respond within 30 minutes</div>
                        </p>

                    </div>

                </div>
            </section>

            <aside class="aside-home">
                <h3>Latest News</h3>


                <section class="news">
                    <% for(const post of posts){ %>
                    <div class="latest-newz">
                        <div class="image-wrapper">
                            <img src="<%= post.image_url %>" alt="" class="image">
                        </div>
                        <div class="write-up">
                            <h3><%= post.category %></h3>
                            <h2><%= post.title %></h2>
                            <em>Post on the<%= post.day %> by <%= post.time %></em>
                            <article>
                                <%- post.markedBody.substr(0,50) %>...
                                <a href="/blogs/<%= post.slug %>">Read more</a>
                            </article>

                        </div>

                    </div>

                    <% } %>


                </section>
                <section class="desktop-advert">
                    <div class="adverts-content">
                        <div>A</div>
                        <div>D</div>
                        <div>V</div>
                        <div>E</div>
                        <div>R</div>
                        <div>T</div>
                        <div>S</div>

                    </div>

                </section>
            </aside>

        </div>


    </section>
</main>
<script src="../js/navs.js"></script>
<%- include('./partials/footer.ejs') %>