<%- include('./partials/head-new.ejs') %>
<%- include('./partials/header-new.ejs') %>

<main>
    <section class="logo-and-caption">
        <div>
            <a href="/">
                <h2 class="brand-name">Digital News Pay Hub</h2>
            </a>
            <h3 class="sub-caption" style="display: none;;"> Make cash while you get informed</h3>
        </div>
    </section>
    <section class="breaking-news">
        <div class="marquee-element">

            <% posts.forEach((post,index)=>{ %>
            <a class="marquee-item-<%=(index+1) %> marquee-item" href="/blog/<%= post.slug %>">
                <img src="<%= post.image_url %>" alt="breaking news-<%=(index+1) %>">
                <div>

                    <h3><%= post.title %></h3>

                </div>
            </a>


            <% }) %>
            <% posts.forEach((post,index)=>{ %>
            <a class="marquee-item-<%=(index+1) %> marquee-item" href="/blog/<%= post.slug %>">
                <img src="<%= post.image_url %>" alt="breaking news-<%=(index+1) %>">
                <div>

                    <h3><%= post.title %></h3>

                </div>
            </a>


            <% }) %>

        </div>
    </section>

    <div class="index">
        <section>

            <div class="the-post">
                <header class="head">
                    <h3 class="category center-text"><%= post.category %></h3>
                    <h1 class="title center-text"><%= post.title %></h1>
                    <div class="date-and-views">
                        <em><%= post.date.toDateString() %></em>
                        <em><%= post.number_of_views %> views</em>
                    </div>


                </header>
                <div class="image-wrapper">
                    <img src="<%= post.image_url %>" alt="image for post:<%= post.title %>">
                </div>
                <article>
                    <%- post.markedBody %>
                </article>
                <div class="comments-and-share">

                    <span><%= post.comments.length %> Comments</span>
                    <span>share
                        <a id="facebook"
                            href="https://www.facebook.com/sharer.php?u=https://www.dnpayhub.com/blog/<%= post.slug %>">
                            <i class="fab fa-facebook"></i>
                        </a>
                        <a href="https://twitter.com/share?url=https://www.dnpayhub.com/blog/<%= post.slug %>&text=<%= post.title %>"
                            id="twitter">
                            <i class="fab fa-twitter"></i>
                            <a id="whatsapp"
                                href="https://wa.me/?text=<%= post.title %> https://www.dnpayhub.com/blog/<%= post.slug %>">
                                <i class="fab fa-whatsapp"></i>
                            </a>
                            <a id="linkedin"
                                href="https://www.linkedin.com/shareArticle?url= https://www.dnpayhub.com/blog/<%= post.slug %>&title=<%= post.title %>">
                                <i class="fab fa-linkedin"></i>
                            </a>
                    </span>
                </div>
                <div class="navigation hide" style="display: none;;">
                    <span>Previous Story </span>
                    <span>Next Story </span>
                </div>
                <div class="comments">
                    <div>
                        <a href="#comments" class="center-text block controller"> <i class="fa fa-pencil"></i>Leave a
                            comment</a>
                        <div class="reviews">
                            <% for(let comment of post.comments) { %>
                            <div class="a-comment">

                                <div class="user">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                </div>


                                <div class="theComment">


                                    <h4><%= comment.by %></h4>
                                    <% if (comment.date) {%>
                                    <div><em><%= comment.date.toDateString() %></em></div>
                                    <% } %>
                                    <p class="comment-body"><%= comment.body %></p>
                                </div>
                            </div>

                            <% } %>
                        </div>
                    </div>
                    <div class="comment" id="comments">
                        <form action="/blog/comments/<%= post.id %>" method="POST">
                            <div>


                                <textarea name="comment" id="" cols="30" rows="4" placeholder="Leave a comment...">

                                </textarea>
                            </div>
                            <div class="comment-action-wrapper">
                                <div>
                                    <div class="user">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                    </div>
                                    <div>
                                        <input type="text" name="name" placeholder="Name">
                                    </div>
                                </div>
                                <div class="form-controls">
                                    <button>Publish</button>
                                    <button>Preview</button>
                                </div>
                            </div>
                        </form>
                    </div>


                </div>

                <div class="hide">
                    You may also like
                </div>

        </section>




        <aside>
            <section class="subscribe">
                <div>
                    <h2 class="center-text">
                        subscribe
                    </h2>
                    <p>Get all latest news and content delivered straight to your inbox</p>

                    <form action="">
                        <input type="text" name="name" placeholder="Name">
                        <input type="email" name="email" id="" placeholder="Email Address">
                        <button type="submit">subscribe</button>

                    </form>

                </div>


            </section>
            <section class="popular-posts">
                <div>
                    <h2>Popular posts</h2>
                    <% for(post of posts){ %>
                    <div class="post">
                        <div class="image-wrapper">
                            <a href="/blog/<%= post.slug %>"><img src="<%= post.image_url %>" alt=""></a>

                        </div>
                        <div class="about-popular">
                            <a href="/blog/<%= post.slug %>">
                                <h4 class="category"><%= post.category %></h4>
                                <h3 class="title"><%= post.title %></h3>

                            </a>
                            <div class="date-and-views">
                                <em class="date"><%= post.date.toDateString() %></em>
                                <span class="views"><%= post.number_of_views %> views</span>
                            </div>

                        </div>
                    </div>
                    <% } %>
                </div>


            </section>
            <section class="categories">
                <div>
                    <h2>Categories</h2>
                </div>
                <ul>
                    <% categories.forEach(category=>{ %>
                    <li class="category">
                        <span><%= category.name %></span>
                        <span><%= category.number_of_posts %></span>
                    </li>

                    <% }) %>
                </ul>

            </section>
        </aside>
    </div>

</main>
<%- include('./partials/footer-new.ejs') %>