<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>
<main class="detailed">
    <div class="social-media-share">
        <div>
            <a>share</a>
            <div>
                <i class="fa fa-share-alt"></i>
            </div>



        </div>
        <a href="" id="facebook">
            <i class="fab fa-facebook"></i>
        </a>

        <!-- <a href="" id="instagram">
            <i class="fab fa-instagram"></i>
        </a> -->
        <a href="" id="twitter">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="" id="linkedin">
            <i class="fab fa-linkedin"></i>
        </a>
        <a href="" id="whatsapp">
            <i class="fab fa-whatsapp"></i>
        </a>

    </div>
    <section>
        <div class="breaking-news-and-more">
            <div id="search">

            </div>
        </div>
    </section>
    <section class="the-search-and-more">
        <div>
            <div class="the-adverts">
                <img src="../images/adverts-right1.png" alt="">
                <span>advertisements</span>
                <img src="../images/adverts-left1.png" alt="">
            </div>
            <div class="search">
                <button>
                    search
                </button>

            </div>
        </div>


    </section>


    <section class="content">
        <div class="container detailed-section">
            <div class="blog-content">
                <section class="news-detailed">
                    <h5><%= post.category %></h5>
                    <h1 id="post-title"><%= post.title %></h1>
                    <div class="image-wrapper">
                        <img src="<%= post.image_url %>" alt="" class="image" id="post-image">
                    </div>
                    <div class="write-up">


                        <em>Posted on <%= post.date.toDateString() %>
                            <!-- by <%= post.time %>--></em>
                        <article class="article">
                            <%- post.markedBody %>...
                        </article>
                        <div class="more-details">
                            <div>
                                <img src="../images/like.png" alt="" width="35px" title="Like this post">
                                <span>12</span>
                            </div>

                            <div>
                                <img src="../images/comments1.png" alt="" title="Drop a comment">
                                <span><%= post.comments.length %></span>
                            </div>
                            <div>
                                <img src="../images/views1.png" alt="">
                                <span><%= post.number_of_views %></span>
                            </div>
                        </div>

                    </div>


                    <div class="comments">
                        <div>
                            <h3>Comments</h3>
                            <div class="reviews">
                                <% for(let comment of post.comments) { %>
                                <div class="theComment">


                                    <h4><%= comment.by %></h4>
                                    <div><em><%= comment.date %></em></div>
                                    <p><%= comment.body %></p>
                                </div>

                                <% } %>
                            </div>
                        </div>
                        <h3>Leave a comment</h3>
                        <p>Your email address will not be published</p>
                        <form action="/news/comments/<%= post.id %>" method="POST">
                            <div>
                                <label for="name" class="block full">Name</label>
                                <input type="text" class="block full" name="name">
                            </div>

                            <div>
                                <label for="email" class="block full">Email<span class="red"> *</span></label>
                                <input type="email" class="block full" required name="email">
                            </div>

                            <div>
                                <label for="" class="block">Website</label>
                                <input type="text" class="block full" name="website">
                            </div>
                            <div>
                                <label for="email" class="block" aria-required="">Comments<span class="red">
                                        *</span></label>
                                <textarea name="comment" id="comment" cols="30" rows="10" class="block full"></textarea>
                            </div>
                            <div>
                                <div>
                                    <input type="checkbox" name="notify-for-comments" id=""><label for="">Notify me of
                                        follow-up comments by email</label>
                                </div>
                                <div>
                                    <input type="checkbox" name="notify-for-posts" id=""><label for="">Notify me of new
                                        posts by email</label>
                                </div>

                            </div>

                            <button class="block" type="submit">post comment</button>

                        </form>


                    </div>
                </section>

            </div>

        </div>
    </section>
</main>
<script src="../js/social-media-share.js"></script>

<%- include('./partials/footer.ejs') %>