<%- include('./partials/head-new.ejs') %>
<%- include('./partials/header-new.ejs') %>
<main class="news-by-cat" style="margin-top: 120px;">
    <h1 class="center-text" style="text-transform: uppercase; font-size: 3rem; color: rgb(41, 40, 40);">
        <%= posts[0].category %></h1>

    <div>

        <section class="category-contents container">
            <% if(posts) { %>
            <% for(let post of posts) { %>
            <div>
                <div>
                    <img src="<%= post.image_url %>" alt="" class="block">
                </div>
                <div>
                    <h2 class="title"><%= post.title %></h2>
                    <em class="date block"><%= post.date.toDateString() %></em>
                    <article>
                        <%- post.markedBody.substr(0,200) %>...
                    </article>
                    <a href="/blog/<%= post.slug %>">Continue Reading</a>
                </div>
            </div>

            <% } %>
            <% }else{ %>
            <div>
                <h2>There is no post in this category yet</h2>
            </div>

            <% } %>
        </section>


    </div>

</main>

<%- include('./partials/footer-new.ejs') %>