<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>

<main>

    <section class="container">

        <div class="vendors-content">
            <h2 class="center-text vendors">DNPay Activation Code Merchants</h2>
            <div>
                <table>
                    <thead>
                        <tr>
                            <th>vendor</th>
                            <th>contact no.</th>
                            <th>bank</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let record of records) { %>
                        <tr>
                            <td><%= record.name %></td>
                            <td><%= record.phone %></td>
                            <td><%= record.bank_name %></td>
                        </tr>
                        <% } %>
                    </tbody>


                </table>
            </div>
        </div>
    </section>


</main>
<script src="../js/navs.js"></script>
<%- include('./partials/footer.ejs') %>